.container {
  .filters {
    overflow: visible;
  }

  .calendar {
    display: block;
  }

  .filtersToggle {
    display: flex;
    justify-content: space-between;

    .arrowBottom {
      width: 20px;
    }
  }
}
